

body , h1 , ul  , li {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgba(143, 19, 19, 0.4);
    display: flex;
    padding:10px 20px;
    border-bottom: 1px solid bisque;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    font-size: 1.7em;
    background-color:palevioletred;
    margin-right:5px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 100%;

}
.log h1{
    color: black;

}
 .nav ul{
    display:flex;
    list-style: none;
    gap: 15px;
   
}
.nav a{
    text-decoration: none;
    color: #292b2d;
    font-size: 18px;
    padding: 5px 10px;
    margin-right: 50px;
    border-radius: 4px;
    transition: background-color 0.3s ease;

}
.nav a:hover{
    background-color: aliceblue;
    color: aquamarine;
}
#region , #sign-in{
    padding:5px;
    font-size: 18px;
    border:none;
    border-radius: 15px;
    
}
#region:hover , #sign-in:hover{
    background-color: rgb(116, 164, 116);
    color:rgb(61, 26, 93);
}
main h1{
    margin-left:45%;
    font-size: 3em;
    padding-top: 2.5%;
    padding-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .section ul{
    display:flex;
    list-style: none;
    margin-left: 18%;
    gap:20px;
}
.section i{
    font-size: 1.3em;
    color:#8c9298;
    margin-right: 5px;
    
}
.section a{
    text-decoration: none;
    font-size: 1.3em;
    font-family: cursive;
    color: rgb(39, 34, 34);
    align-items: center;
   
}
.section #search{
    text-decoration: underline;
}
.section a:hover{
    text-decoration: underline;
}
form {
    display: flex;
    align-items: center;
    padding: 1%;
    margin: 20px auto;
    max-width: 900px; 
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(147, 139, 139, 0.1); 
    background-color: #fff; 
    overflow: hidden; 
}


input[type="search"] {
    flex:1;
    padding: 15px;
    font-size: 16px;
    border:none;
    outline:none;
    
}


input[type="search"]::placeholder {
    color: #888;
}



button[type="submit"] {
    padding: 15px 30px;
    margin-right: 1%;
    border: none;
    border-radius: 50px; 
    background-color: #8458B3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold; 
}


button[type="submit"]:hover {
    background-color: #c2edda; 
}


button[type="submit"]:active {
    background-color: #cc5200; 
}
form i{
    display: flex;
    margin-left: 1%;
}
.AI-picture{
    max-width: 1100px;
    max-height: 600px;
    align-items: center;
    display: flex;
    background-color: aqua;
    border-radius: 20px;
    box-shadow:black 1px ;
    overflow: hidden;
    justify-content: center;
    margin: 5% auto;
}
.AI-picture #image{
    display:inline-block;
    margin:2%;
    height:fit-content;
}


